@font-face {
    font-family:'tintin';
    src: url('police/tintin_talking-webfont.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    font-family:"tintin";
    
}
#map { 
    height: 80%;
    width: 80vw;
    /* grid-column: 2;
    grid-row: 2; */
    /* justify-items: center; */
    border: solid 2px black;
    border-radius: 10px;
    /* outline: none; */
    position: absolute;
    /* background-size: contain; */
 }

#carte{
    padding:10vh; 
    display : flex;
    /* grid-template-columns : 1fr 2fr 1fr; 
    grid-template-rows:  1fr 2fr 1fr; 
    justify-content: center;*/
    justify-content: space-evenly;
    flex-direction:column;
    flex-wrap:wrap;
} 


 #inventaire { 
    color: white;
    height: 70vh;
    width: 10vw;
    /* grid-column: 3;
    grid-row: 2; */
    background-color: black;
    border-radius: 16px;
    transform: translateX(145vh);
}
/* #joueur {
    grid-row: 1;
   
} */

/* #titre{
    grid-column-start: 1;
    grid-column-end: 2;
    color: black;
    text-align: center;
    transform: translateY(1000px);
} */
#myimg{
    height: 100px;
    width: 50px;
}
#indice{
    text-align: center;
}

 

  
